@font-face {
	font-family: 'ff';
	src: url('ff-webfont.eot');
	src: local('☺'), url('ff-webfont.woff') format('woff'), url('ff-webfont.ttf') format('truetype'), url('ff-webfont.svg#webfontSkGM2pLM') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
  background-image: url('images/bg-dots.png'), url('images/bg-pier.png');
  background-position: center 24px;
  background-repeat: repeat, no-repeat;
  background-color: #008999;
}

body {
  width: 60em;
  margin: 0 auto;
  padding: 0;
  font-family: "Century Gothic", sans-serif; 
  color: #fff;
}
 
 .full-frontal {
  position: relative;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: -0.05em;
  font-family: "ff", sans-serif;
  font-weight: bold; 
  font-size: 10em; 
  display: block;
  height: 1.1em;
  width: 1.1em;
  background-color: #ded4a0;
  color: #008999;
  line-height: 1.3em;
  padding-right: 0.05em;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
  -o-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
  -ms-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
  box-shadow: 1px 1px 1px rgba(0,0,0,.2);
  -moz-border-radius-topleft: 0.3em;
  -moz-border-radius-bottomright: 0.3em;
  -webkit-border-top-left-radius: 0.3em;
  -webkit-border-bottom-right-radius: 0.3em;
  border-top-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}
.full-frontal span {
  display: block;
  -webkit-background-image: url('images/bg-dots-with-color.png');
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.full-frontal span span {
  display: none;
}
 






.date {
  font-family: 'Cabin Sketch';
}

input {
  font-size: 1.875em;
  width: 100%;
  color: #008999;
  height: 1.6667em;
  line-height: 1.6667em;
  vertical-align: middle;
}
input::-webkit-input-placeholder,
input::-moz-placeholder {
  display: inline-block;
  color: #008999;
}
button {
  border: 0;
  background: #ded4a0;
  color: #008999;
}





section {
  width: 50%;
  float: left;
}
section h1 {
  margin: 0;
  margin-left: 30%;
  font-family: 'Cabin Sketch';
  font-size: 3.875em;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.1); 
  line-height: 0.7562; 
}
section p {
  margin: 0;
  margin-left: 30%;
}