@font-face {
    font-family: 'Cabin Sketch';
    src: url('fonts/cabinsketch-bold-webfont.eot');
    src: url('fonts/cabinsketch-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cabinsketch-bold-webfont.woff') format('woff'),
         url('fonts/cabinsketch-bold-webfont.ttf') format('truetype'),
         url('fonts/cabinsketch-bold-webfont.svg#CabinSketchBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

article, section, footer, header {
  display: block;
}

html {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2P4//+/MBQzgDAICEMxXAAMYCoRIlCVANL6FYTYi5d+AAAAAElFTkSuQmCC), url('images/bg-pier.png');
  background-position: center -71px;
  background-repeat: repeat, no-repeat;
  background-color: #008999;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  color: #93cfd6;
}
.wrapper {
  width: 80%;
  max-width: 60em;
  min-width: 20em;
  margin: 0 auto;
  margin-top: 3.125em;
}

a {
  color: #ded4a0;
  text-decoration: none;
}
a:focus,
a:hover {
  text-decoration: underline;
}

.clear {
  clear: both;
}

.cabin,
.headline,
header,
nav,
.tickets {
  font-family: 'Cabin Sketch', sans-serif;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  text-transform: uppercase;
  color: #fff;
}

.button {
  display: block;
  line-height: 48px;
  font-size: 48px;
  font-family: 'Century Gothic', sans-serif;
  color: #008999;
  text-align: center;
  background-color: #c7be8f;
  background-image: url('images/bg-button.png');
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  max-height: 48px;
}
.button:hover {
  background-color: #f1efe2;
  background-position: bottom;
}


header {
  -webkit-text-shadow: 2px 2px 2px rgba(0,0,0,0.1); 
  overflow: hidden;
}

.full-frontal {
  background: url(images/ff2011-logo.png) no-repeat center;
  position: relative;
  float: left;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
  height: 153px; /*1.1em;*/
  width: 164px; /*1.1em;*/
  margin: 0.0694em 1.1111em 0.1111em 0;
  padding-right: 0.05em;
}

html.transition .full-frontal {
  -webkit-transition-property: height, width;
  -webkit-transition-duration: 100ms, 100ms;
  -webkit-transition-timing-function: linear, linear;
  -moz-transition-property: height, width;
  -moz-transition-duration: 100ms, 100ms;
  -moz-transition-timing-function: linear, linear;
  -o-transition-property: height, width;
  -o-transition-duration: 100ms, 100ms;
  -o-transition-timing-function: linear, linear;
  transition-property: height, width;
  transition-duration: 100ms, 100ms;
  transition-timing-function: linear, linear;
}

.full-frontal span {
  display: none;
}

header hgroup {
  float: left;
}
header h2,
header h3 {
  margin: 0;
}
header h2,
.tickets {
  padding-top: 0.1em;
  font-size: 4.1875em; /* 67p/16 */
  line-height: 0.75;
  letter-spacing: -0.05em; /* -3px */
}
header h2 span {
  font-size: 0.8657em;
}
header h3 {
  font-size: 1.4375em;
  line-height: 1;
}

.tickets {
  display: block;
  float: right;
  line-height: 0.65;
  margin-top: 3px;
  color: #ded4a0;
}
.tickets span {
  font-size: 0.7313em; /* 49/67 */
}
.buy-now {
  font-size: 4.6875em; /* 75/16 */
}
.buy-now span {
  font-size: 0.64em; /* 48/75 */  
}
.tickets .button {
  margin-top: 8px;
}
.tickets:hover {
  text-decoration: none;
  color: #fff;
}
.tickets:hover .button {
  background-color: #f1efe2;
  background-position: bottom;
}


nav {
  font-size: 1.625em; /* 25/16 */
  clear: both;
  border-bottom: 2px solid #9cc;
  margin-top: 2.2em; /* 55/25 */
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  float: left;
  margin: 0;
  margin-right: 3.9583333%;
  padding: 0;
  list-style: none;
  text-align: center;
}
nav li:last-child {
  margin-right: 0;
}
nav a {
  position: relative;
  bottom: -2px;
  display: inline-block;
  padding-bottom: 4px;
  z-index: 10;
}
nav a.selected,
nav a:hover {
  padding-bottom: 2px;
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #fff;
}

footer {
  clear: both;
  margin-bottom: 4.375em;
}
.terms {
  width: 80%;
  max-width: 60em;
  min-width: 20em;
  margin: 0 auto;
  font-size: 0.875em;
}
.terms h1 {
  float: right;
  margin: 0;
  margin-bottom: 0.5em;
}
.terms h1 a {
  display: block;
  background: url('images/left-logic.png');
  background-position: top left;
  width: 200px;
  height: 41px;
  text-indent: -9999em;
}
.terms h1 a:hover {
  background-position: bottom left;
}
.terms p {
  margin: 0;
  font-weight: normal;
}

.fat-footer {
  margin: 2em 0;
  padding-bottom: 3em;
  background-image: url('images/bg-pier-yellow.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #dad197;
  overflow: hidden;
  color: #663;
}
.fat-footer .wrapper {
  margin: 0 auto;
}
.fat-footer section {
  float: left;
}
.fat-footer h1 {
  margin: 1em 0;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
  color: #996;
}
.updates {
  width: 36%;
}
.updates p {
  font-size: 0.8125em;
  line-height: 1.5;
  padding-right: 2.5em;
}
.updates a {
  color: #996;
  font-weight: normal;
}
.updates .follow {
  display: block;
  margin-right: 2em;
  padding: 0.75em 0;
  text-align: center;
  background-color: #EEE8A2;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  line-height: 1;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
}
.follow:hover {
  text-decoration: none;
  color: #EEE8A2;
  background-color: #996;
}
.sponsors {
  width: 63%;
  padding-right: -1em;
}
.sponsors img {
  background: #FFF;
  margin: 0 1em 1em 0;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}
.sponsors a:hover img,
.sponsors a:focus img {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}


.headline {

}


.want-to {
  margin-bottom: 4.375em;
  overflow: hidden;
}
.want-to section {
  width: 50%;
  float: left;
  background-repeat: no-repeat;
  background-position: top left;
  min-height: 191px;
}
.want-to section h1 {
  float: right;
  min-width: 5em;
  margin: 0;
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 3.875em;
  text-transform: uppercase;
  -webkit-text-shadow: 2px 2px 2px rgba(0,0,0,0.1); 
  text-shadow: 2px 2px 2px rgba(0,0,0,0.1); 
  line-height: 0.7562;
  color: #fff;
}
.want-to section p {
  float: right;
  clear: right;
  max-width: 20em;
  margin: 1em 0.5em 0 0;
  font-size: 0.9375em;
  line-height: 1.3333;
}
.speak {
  background-image: url('images/speak.png');
}
.sponsor {
  background-image: url('images/sponsor.png');
}

.tweets,
.tweets .clear {
  clear: both;
}
.tweets {
  overflow: hidden;
  max-height: 192px;
}
.tweets div {
  margin-right: -1%;
  margin-left: -1%;
  float: left;
  width: 21%;
}
.tweets div:first-child {
  margin-left: 1%;
}
blockquote {
  position: relative;
  width: 212px;
  height: 192px;
  margin: 0 auto;
  margin-bottom: 1em;
  background-image: url('images/bubble.png');
  background-repeat: no-repeat;
  background-position: center top;
}

blockquote p {
  position: absolute;
  top: 30px;
  bottom: 58px;
  left: 24px;
  right: 24px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: #008999;
  font-size: 0.75em;
  line-height: 1.0833;
  text-align: center;
  
  display : box;
  box-orient: vertical;
  box-pack: center;
  display : -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  display : -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}
blockquote cite {
  position: absolute;
  bottom: 0;
  padding-left: 3.25em;
  font-family: 'Cabin Sketch', sans-serif;  
  font-style: normal;  
  text-transform: uppercase;
  white-space: nowrap;
}
blockquote cite img {
  vertical-align: middle;
  margin-right: 0.5em;
}

blockquote p a {
  color: hsl(190,30%,30%);
}





input {
  background-position: top left, top left, top left;
}

html.transition, html.transition input, html.transition blockquote {
  position: relative;
  -moz-transition: background-position 30s linear;
  -o-transition: background-position 30s linear;
  transition: background-position 30s linear;
}

html:before {
  display: none;
  content: '';
  border-right: 5px solid #f00;
  border-bottom: 5px solid #f00;
  padding: 10px;
  background: #c00;
  color: #fff;
  line-height: 2;
  font-family: menlo, monospace;
  z-index: 9;
  position: relative;
}

@media screen and (max-height: 16em) and (min-width: 40em) {
  html:before {
    display: inline;
    content: "Ohhh noes" !important;
  }
  
  header {
    margin-top: -2em;
  }
  
  .full-frontal {
    background: url(http://29.media.tumblr.com/tumblr_l5wjnzhwtq1qcjha6o1_400.jpg) no-repeat 50% -70px;
    -webkit-mask-box-image: url(images/ff2011-logo.png);    
  }
}

@-webkit-keyframes background {
	from {
		background-color: #D6CD7E;
	}
	25% {
		background-color: #FF242F;
	}
	50% {
		background-color: #D62782;
	}
	75% {
		background-color: #25D673;
	}
	to {
		background-color: #D6CD7E;
	}
}

@-webkit-keyframes invert-background {
	from {
    background-color: #000AD6;
		background-position: top left, top left, top left;
	}
	49.9% {
    background-color: #000AD6;
	}
	50% {
    background-color: #FF00A2;
	}
	74.9% {
    background-color: #FF00A2;
	}
	75% {
    background-color: #FF0016;
	}
	99.9% {
    background-color: #00FF12;
	}
	to {
    background-color: #000AD6;
		background-position: bottom right, bottom right, bottom right;
	}
}


@-webkit-keyframes foreground {
	from {
		color: #D6CD7E;
	}
	25% {
		color: #FF242F;
	}
	50% {
		color: #D62782;
	}
	75% {
		color: #25D673;
	}
	to {
		color: #D6CD7E;
	}
}

@media screen and (min-width: 88em) and (max-width: 88.124em) {
  html:before {
    display: inline;
    content: "Welcome to the speccy loading mode" !important;
  }
  
  header {
    margin-top: -2em;
  }
  
  .full-frontal {
    background: #D6CD7E fixed no-repeat 50% -70px;
    -webkit-mask-box-image: url(images/ff2011-logo.png);    
    -webkit-animation-name: background;
  	-webkit-animation-duration: 300ms;
  	-webkit-animation-iteration-count: infinite;
  	-webkit-animation-timing-function: linear;  	
  }
  
  .wrapper, header, h1, h2, a, p {
    -webkit-animation-name: foreground;
  	-webkit-animation-duration: 200ms;
  	-webkit-animation-iteration-count: infinite;
  	-webkit-animation-timing-function: linear;
  }
  
  html {
    background-position: bottom right, bottom right, bottom right;
    background-color: blue;
    background-image:
      -webkit-linear-gradient(transparent 25%, rgba(255,255,255,.5) 25%),
      -webkit-linear-gradient(transparent 50%, rgba(255,255,255,.7) 50%),
      -webkit-linear-gradient(transparent 75%, rgba(255,0,0,1) 75%);
    background-image:
      -moz-linear-gradient(transparent 25%, rgba(255,255,255,.5) 25%),
      -moz-linear-gradient(transparent 50%, rgba(255,255,255,.7) 50%),
      -moz-linear-gradient(transparent 75%, rgba(255,0,0,1) 75%);
    background-image:
      -o-linear-gradient(transparent 25%, rgba(255,255,255,.5) 25%),
      -o-linear-gradient(transparent 50%, rgba(255,255,255,.7) 50%),
      -o-linear-gradient(transparent 75%, rgba(255,0,0,1) 75%);
    background-size: 50px, 50px, 50px;
    background-repeat: repeat, repeat, repeat;
    -webkit-animation-name: invert-background;
  	-webkit-animation-duration: 0.8s;
  	-webkit-animation-iteration-count: infinite;
  	-webkit-animation-timing-function: linear;
  }

  blockquote {
    -webkit-mask-box-image: url(images/bubble.png);
  }
  
  blockquote, input {
    background-position: bottom right, bottom right, bottom right;
    background: #D6CD7E fixed no-repeat 50% -70px;
    background-image:
      -webkit-linear-gradient(0, transparent 25%, rgba(255,255,255,.5) 25%),
      -webkit-linear-gradient(0, transparent 50%, rgba(255,255,255,.7) 50%),
      -webkit-linear-gradient(0, transparent 75%, rgba(255,0,0,1) 75%);
    background-image:
      -moz-linear-gradient(0, transparent 25%, rgba(255,255,255,.5) 25%),
      -moz-linear-gradient(0, transparent 50%, rgba(255,255,255,.7) 50%),
      -moz-linear-gradient(0, transparent 75%, rgba(255,0,0,1) 75%);
    background-image:
      -o-linear-gradient(0, transparent 25%, rgba(255,255,255,.5) 25%),
      -o-linear-gradient(0, transparent 50%, rgba(255,255,255,.7) 50%),
      -o-linear-gradient(0, transparent 75%, rgba(255,0,0,1) 75%);
    background-size: 50px, 50px, 50px;
    background-repeat: repeat, repeat, repeat;
    -webkit-animation-name: invert-background;
  	-webkit-animation-duration: 500ms;
  	-webkit-animation-iteration-count: infinite;
  	-webkit-animation-timing-function: linear;
  	-webkit-animation-fill-mode: both;
  	-webkit-animation-direction: alternate;   
  }
}

@media screen and (max-width: 73em) {
  .tweets div {
      width: 26%;
  }
}
@media screen and (min-width: 63em) {
  .wrapper {
    width: 94%;
  }
}
@media screen and (max-width: 63em) {
  .want-to {
    margin-bottom: 3.075em;
  }
  .tweets div {
      width: 34%;
  }
}
@media screen and (max-width: 56em) {  
  .want-to section {
    width: 100%;
    float: none;
    margin-bottom: 1em;
  }
  .want-to section h1 {
   float: none;
   min-width: none;
   margin-left: 2.6em; 
  }
  .want-to section p {
    max-width: none;
    margin-left: 11em;
  }
}
@media screen and (max-width: 47em) {
  .want-to {
    margin-bottom: 2.075em;
  }
  .tweets div {
      width: 50%;
  }
}
@media screen and (max-width: 37em) {
  .want-to section {
    width: 100%;
    float: none;
    margin-bottom: 1em;
  }
  .want-to section h1 {
    float: right;
    min-width: 5em;
    margin-left: 0;
  }
  .want-to section p {
    max-width: 20em;
    margin-left: 0;
  }
}
@media screen and (max-width: 36em) {
  html {
     background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2P4//+/MBQzgDAICEMxXAAMYCoRIlCVANL6FYTYi5d+AAAAAElFTkSuQmCC), url('images/bg-pier-small.png'); 
  }
  .wrapper {
   margin-top: 1em; 
  }
  .follow {
    font-size: 1.875em;
  }
  .terms h1 {
    float: none;
  }
}
@media screen and (max-width: 32em) {
  .full-frontal {
    background: url(images/ff2011-logo.png) no-repeat center;
    background-size: 100%;
    height: 77px; /*1.1em;*/
    width: 82px; /*1.1em;*/
  }
  
  header h2,
  header .tickets {
    font-size: 2.95em;
  }
  .tickets {
    float: left;
  }
  
  header h3 {
    clear: left;
  }
  
  form {
    margin: 1.375em 0 1.375em 0;
  }
  
  .want-to {
    margin-bottom: 1.075em;
  }
  .tweets div {
      width: 100%;
  }
}
@media screen and (max-width: 25em) {
  .wrapper {
    min-width: 97%;
    width: 97%;
  }
  
  .terms {
    margin-bottom: 0.25em;
  }
  
  .terms h1 a {
    margin: 0 auto;
  }
  
  .want-to section {
    width: 100%;
    float: none;
    margin-bottom: 1em;
  }
  .want-to section h1 {
   float: none;
   min-width: none;
   margin-left: 0; 
  }
  .want-to section p {
    float: none;
  }
}

.nomediaquerygoodnessyepisuck {
  width: 1024px;
}

.ie input {
  line-height: 1.75;
}

html.thanks:before {
  display: inline;
  content: "Thank you - we'll be in touch as soon as tickets are available!";
}

html.thanks header {
  margin-top: -2em;
}

html.transition .wrapper {
  -webkit-transition: margin 100ms linear;
  -moz-transition: margin 100ms linear;
  -o-transition: margin 100ms linear;
  transition: margin 100ms linear;
}